{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EGAA-ADMIN DASHBOARD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>


</head>

<body>

    {% block navBar %}
    <div class="container-fluid bg-primary-subtle shadow-lg border-bottom border-primary-subtle">
        <header class="d-flex flex-wrap align-items-center justify-content-center py-3  border-bottom">
            <a href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="http://egaa.co.in:8080/egaa/img/logo-inner.svg" class="rounded-4 " alt="Logo" />
            </a>

            <div class="d-flex gap-3 align-items-center">
              <div class="d-flex align-items-center bg-secondary-subtle gap-2 px-2 rounded-4">
                <a href=""><i class="uil uil-exclamation-triangle fs-4 text-danger"></i></a>
                <small class="rounded-circle position-relative text-danger fw-bold">230</small>
              </div>
                
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-primary text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        <small class="text-primary">Unimax</small>
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#"><i class="uil uil-user me-2"></i>User profile</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item link-danger fw-medium" href="#">
                                <i class="uil uil-sign-out-alt me-2 fw-medium"></i>Sign out</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
  

    {% endblock %}




    {% block main %}

    {% endblock %}


    {% block content %}

    {% endblock %}



    {% block new %}

    {% endblock %}




    {% block Login %}

    {% endblock %}


    {% block Distributers %}
    {% endblock %}

        


            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
                integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
                crossorigin="anonymous"></script>
</body>

</html>